
<div class="back">
  <img src="assets/img/logo.jpg" width="350">
</div>
<div id="grad1">
<br><br><br><br>
<h1>MOVIES</h1>
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let item of movie">
    <ng-template carouselSlide [id]="item.imdbID">
      <div class="myclass">
        <button mat-raised-button (click)="gotToMovie(item.imdbID)">
          <img src={{item.Poster}}  class="myimage"/>
          <h3 class="title">{{item.Title}}</h3>
        </button>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<h1>MOVIES</h1>
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let item of movie">
    <ng-template carouselSlide [id]="item.imdbID">
      <div class="myclass">
        <button mat-raised-button (click)="gotToMovie(item.imdbID)">
          <img src={{item.Poster}}  class="myimage"/>
          <h3 class="title">{{item.Title}}</h3>
        </button>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<br><br><br>

<app-user-navbar></app-user-navbar>
</div>

