h1 {
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    text-align:center;
    font-weight: bold;
  }
  .title {
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-weight: bold;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
}
img {
    // width: 100%;
    height: 200px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: #202C45;
    color: #E81C2E;
    font-weight: bold;
    width: 100%;
}