body {
    margin-bottom: 0px;
}
footer {
    position: fixed;
    margin-bottom: 0px;
    bottom: 0px;
    width: 100%;
    line-height: 60px;
    background-color: #202C45;
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    color: #E81C2E;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.column {
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
a {
    background-color: #E81C2E;
    color: #202C45;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
}
