<br><br>
<h1 class="title">{{movie.Title}}</h1>
<div class="row">
  <img class="column" src={{movie.Poster}}/>
  <h3 class="plot column">{{movie.Plot}}</h3>
  <button class="fav" mat-raised-button (click)="addToFavourites()">Add to favourites</button>
</div>

<h2>Reviews</h2>

<div>
  <ng-container *ngFor="let item of commentsList">
    <div class="reviews">
      <span class="user">{{item.username}} : </span>
      <span class="text">{{item.comment}}</span>
      <span *ngIf="item.username == this.username">
        <button mat-raised-button (click)="deleteComment(item._id)">Delete</button>
      </span>
    </div>
  </ng-container>
</div>

<div class="comment">
  <textarea [(ngModel)]="comment"></textarea>
  <button mat-raised-button (click)="onSubmit()">Send</button>
</div>
<br><br><br><br>
<app-user-navbar></app-user-navbar>
